.divp{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}
.but{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
}

@import "tailwindcss"