body{
    background-color: rgb(50, 50, 50);
}

.divC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.divbut{
    display: flex;
    gap: 100px;
}

.pC{
    font-size: 80px;
    text-shadow: 0px 0px 10px black;
}

.plus{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-weight: 900;
    background-color: rgb(28, 28, 28);
    box-shadow: 0px 0px 5px white;
}

.minus{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-weight: 900;
    background-color: rgb(28, 28, 28);
    box-shadow: 0px 0px 5px white;
}

@import "tailwindcss"