body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#text{
    border: 2px solid rgb(255, 227, 182);
    border-radius: 8px;
    box-shadow: 2px 2px 0px white;
    transition: 0.3s;
}
#text:hover{
    box-shadow: none;
}

.addbut{
    border: 2px solid wheat;
    border-radius: 8px;
    box-shadow: 2px 2px 0px white;
    transition: 0.3s;
}
.addbut:hover{
    box-shadow: none;
}

.form{
    display: flex;
    gap: 20px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px;
    padding: 16px;
    margin-top: 100px;
}

.TasksDivp{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.taskDiv{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.taskP{
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
}

.deletTask{
    border-radius: 50%;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    font-weight: 900;
}




@import "tailwindcss"